<% provide(:title, "Help") %>
<h1>ヘルプ</h1>
<br/>
<h1>基本的な使い方</div>

<h4>1.タグ、本棚を追加します。</h4>
本棚を追加します。
本棚にはタグを追加することができ、タグをつけた本を表示することができます。

<h4>2.本を検索します。</h4>
本を検索したら、タグをつけます。
タグをつけると、タグをつけた本棚に本が表示されます。
