<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>bookJunkieにようこそ!</h1>

  <h2>
    あなただけの本棚を作りましょう。
  </h2>
  <h4>
    このサービスでは、あなたの好きな本を本棚に追加することができます。
  </h4>
  <h4>
    読んだ本を自由に追加して自分だけの本棚を作りましょう。
  </h4>
  <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
