<% provide(:title, 'すべての本棚') %>
<h1>本棚一覧</h1>

<div class="row">
  <ul class="shelves">
    <% @shelves.each do |shelf| %>
      <li>
        <p><%= shelf.name %>
        <div class="right">
          <%= link_to "削除", shelf, method: :delete, data: { confirm: "削除をしますか？" }  %>
        </div>
        </p>
      </li>
    <% end %>
  </ul>
</div>
