<% provide(:title, "本の登録") %>
<h1>本の登録</h1>

<%= form_for @book, html: {class: 'form-horizontal'}  do |f| %>
  <%= render partial: 'bookinfo', locals: { book: @book } %>
  <%= render partial: 'bookform', locals: { f: f } %>
  <div class="form-group">
    <div class="col-md-2t">
      <%= f.submit "登録", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
